@import 'assets/stylesheets/variables.scss';

.history-user {
  padding: 30px 0 20px;
  color: #fff;

    border-top: 2px $border-color-2 solid;


  .history-user__date {
    font-size: 24px;
    padding-bottom: 20px;
    font-family: Helvetica-Roman, Arial, sans-serif;
    width: 100%;
  }

  .history-user__row-1 {
    display: flex;

    .history-user__img {
      height: 170px;
      margin-right:30px;
      @media screen and (max-width: $breakpoint-md) {
        height: 120px;
        margin-right: 10px;
      }
    }
  }

  .history-user__container {
    display: flex;
    .history-user__nominee {
      .nominee_heading {
        font-family: Helvetica-Medium, Arial, sans-serif;
        font-size: 35px;
        margin: 0px 0 0 0;
        @media screen and (max-width: $breakpoint-md) {
          font-size: 22px;
        }
      }
    }
    .history-user__winner {
      color: $brand-blue;
      margin: 12px 0 0;
    }

  }
}

.history-user__row-2 {
  max-width: 800px;
  @media screen and (max-width: 840px) {
    width: 100%;
  }
  .nomination {
    line-height: 28px;
    font-size: 16px;
    font-family: Helvetica-Roman, Arial, sans-serif;
    clear: both;
    padding: 30px 0;
  }
  .red-border {
    width: 40px;
    border-bottom: 2px $brand-blue solid;
  }
}
