@import 'assets/stylesheets/variables.scss';
@import 'assets/stylesheets/mixins.scss';

.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0;
  overflow-x: hidden;
  transition: 0.2s ease-out;

  .menu__top {
    display: flex;
    direction: rtl;
    .close-button {
      @include close-button;
      width: 28px;
      height: 28px;
    }
  }

  &.open {
    width:408px;
    opacity: 1;
    padding: 8px 20px 20px 30px;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .menu__login-container {
    display: flex;
    margin-top:30px;
    .user-img {
      width: 57px;
      height: 57px;
      border-radius: 25px;
      margin-right:20px;
    }
    .menu__credentials-container {
      display: flex;
      flex-direction: column;
      .logged-as {
        font-size: 15px;
        font-family: Helvetica-Heavy, Arial;
      }
      .credentials {
        @include heading-red-sm();
        margin:6px 0;
        font-size: 18px;
      }
      .logout-link {
        font-size: 15px;
        font-family: Helvetica-Heavy, Arial;
        cursor: pointer;
        &:hover {
          color: $brand-blue;
        }
      }
    }
  }

  .menu__links {
    margin-top: 40px;

  }
}
