@import 'assets/stylesheets/variables.scss';

.profile {
  color: #fff;
  padding: 180px 0 100px;

  .heading-lg {
    color: $brand-blue;
    cursor: default;
    margin-bottom: 20px;
  }

  .profile__record {
    display: flex;
    justify-content: flex-start;

    .profile__record-key {
      width:70px;
    }
  }

}