@import 'assets/stylesheets/variables.scss';
@import 'assets/stylesheets/mixins.scss';

.search-container {
  padding: $expanding-modules-top-padding 0 0;
  margin-bottom: $expanding-modules-bottom-margin;
  &.search-container--additional-padding {
    padding-bottom:65vh;
  }
  .section-header {
    margin-bottom: 30px;
    .close-container .close {
      @media screen and (max-width: 768px) {
        top:0;
      }
    }
  }

  .search-container__top {
    display: flex;
    .weather-search__info {
      @include heading-red-sm();
      &.expanded {
        margin-bottom: 100px;
      }
    }
  }

  @include background-transition;

  &.search-container--dark {
    background: $background-grey;
    min-height: 300px;
    @include background-transition;
  }
}