@import 'assets/stylesheets/variables.scss';
@import 'assets/stylesheets/mixins.scss';

.current-nominations {
  padding: $expanding-modules-top-padding 0 0;
  margin-bottom: $expanding-modules-bottom-margin;
  .current-nominations__top{
    display: flex;
    margin-bottom: 60px;
  }
  @include background-transition;

  &.current-nominations--dark {
    background: $background-grey;
    min-height: 300px;
    @include background-transition;
  }

}
