@import 'assets/stylesheets/variables.scss';
@import 'assets/stylesheets/mixins.scss';

.winner-selection {
  padding: 190px 0 0 0;
  margin-bottom: $expanding-modules-bottom-margin;
  .winner-selection__top {
    display: flex;
    margin-bottom: 60px;
    flex-direction: column;
    h2 {
      margin-bottom:10px;
    }
  }
}