@import 'assets/stylesheets/variables.scss';

.locations {
  color: #fff;
  padding: $page-top-padding 0 100px;

  .heading-lg {
    color: $brand-blue;
    cursor: default;
    margin-bottom: 20px;
  }

}
