@import 'assets/stylesheets/variables.scss';
@import 'assets/stylesheets/mixins.scss';

$admin-home-width: 440px;
.admin-home {
  padding-top:$page-top-padding;
  .admin-home__month-link {
    font-family: Helvetica-Heavy, Arial, sans-serif;
    font-size: 24px;
    width: fit-content;
  }
  .admin-home__heading {
    font-family: Helvetica-Roman, Arial, sans-serif;
    font-size:30px;
    margin-bottom: 7px;

  }
  .admin-home__top {
    display: flex;
    padding: 40px 0 20px 0;
    width: $admin-home-width;

    .col-1 {
      .heading-red-sm {
        margin: 20px 0 3px 0
      }
    }
    .col-2 {
      margin-left:50px;
      .ribbon {
        height: 112px;
      }
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
  .admin-home__months-wrapper {
    padding: 30px 0 15px 0;
    border-top: #979797 1px solid;
    width: $admin-home-width;
    display: flex;
    flex-direction: column;
    .admin-home__month-link {
      padding-bottom: 12px;
    }
    .heading-red-sm {
      margin-bottom: 20px;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}