@font-face {
  font-family: 'Helvetica-Medium';
  src: url("../fonts/HelveticaNeueLTStd-Md.ttf") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Roman';
  src: url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Heavy';
  src: url("../fonts/HelveticaNeueLTStd-Hv.ttf") format("woff");
  font-weight: 200;
  font-style: normal;
}

