/* colors */
$brand-blue: #16a4d9;
$background-black: #161616;
$background-grey: #1f1f1f;
$background-nomintation: #272c2c;
$border-color: #3d3d3d;
$border-color-2: #2c2c2c;

/* widths */
$page-width:1174px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

/* margins */
$expanding-modules-bottom-margin: 30px;

/* paddings */
$page-top-padding: 150px;
$page-bottom-padding: 800px;
$expanding-modules-top-padding: 40px;
$expanding-modules-bottom-padding: 80px;
$padding-mobile:15px;

/* times */
$color-animation-time: 0.3s;
